.large-font {
  font-size: 1.5em;
}

.title{
  font-size: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.icon-with-text {
  display: flex;
  align-items: center;
  padding: 10px; 
  
}

.product-card {
  background-color: #7a6e16; 
  padding: 10px; 
}

.total{
font-size: 20px;
padding: 10px;
}
